@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h2>Assignment 2</h2>
    <p>
        In this Profile, you will create a simple MVC Application where you will be creating the following:
        <br /><br />
        - My Profile Page: Accessible at account/myprofile<br />
        - Register Page: Accessible at account/register
        <br /><br />
        The page should display the username, email mobile number, date of birth, city and Country in a table.<br />
        The page header should say My Profile
        <br /><br />
        You are responsible for creating the model necessary to represent that as well as the necessary
        validations to enforce the following:
        <br /><br />
        - That the username is no longer that 10 characters and no shorter than 3.<br />
        - That the username does not contain any special characters<br />
        - That the user enters a valid email address and a valid mobile number<br />
        - Any other necessary validations. Remember, all fields are required fields<br />
        - If all validations are successful, the user is redirected to the My Profile page which should display his data as shown
        above. Otherwise, the page should indicate which validations were unsuccessful. <br />
        - If the user tries to access the page prior to registering, they will not be able to see any data.<br />
        - You should be using a layout that includes a header which contains links to My Profile and Register.<br />
        - The link to the current page should be highlighted to indicate you’re on the page.<br />

    </p>

</div>